@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Roboto:wght@400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #121212; /* Fond sombre pour correspondre à l'image */
}

html, body {
    height: 100%;
}

/* Le conteneur principal enveloppe tout le contenu sauf le footer */
.main-content {
    min-height: calc(100% - 50px); /* Ajustez 40px pour correspondre à la hauteur du footer */
    /* Utilisez 'padding-bottom' si le contenu de la page est trop long */
    padding-bottom: 40px; /* Cette valeur doit être égale à la hauteur du footer */
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1a1a1a; /* Couleur de fond légèrement différente pour la navbar */
    padding: 0.5em 1em;
}

.navbar a {
    color: #f2f2f2; /* Texte clair pour contraste élevé */
    text-decoration: none;
    padding: 0.5em 1em;
    transition: color 0.3s, background-color 0.3s;
}

.navbar a:hover, .navbar a:focus {
    background-color: #e63946; /* Couleur rouge pour correspondre aux feux arrière */
    color: #ffffff;
}

/* Ajout d'un effet pour les liens actifs ou la page actuelle */
.navbar a.active {
    background-color: #457b9d; /* Couleur bleue pour correspondre à l'éclairage bleu */
    color: #ffffff;
}
.hero-section {
    height: 100vh;
    background-image: url('../img/hero_img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.hero-section .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px; /* Hauteur du footer, doit être égale à 'padding-bottom' du '.main-content' */
    background-color: #1a1a1a;
    color: #f2f2f2;
    text-align: center;
    line-height: 40px;
    
}

.footer a {
    color: #f2f2f2; /* Couleur des liens */
    text-decoration: none;
    margin: 0 10px; /* Espacement autour des liens */
}

.footer a:hover {
    color: #e63946; /* Couleur lors du survol des liens */
}

.footer p {
    margin: 10px 0; /* Espacement vertical pour les paragraphes */
}


/* Styles pour la liste des catégories et autres tables similaires */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 2em 0;
    background-color: #252525; /* Fond du tableau pour correspondre au thème sombre */
}

table, th, td {
    border: 1px solid #f2f2f2; /* Bordure claire pour contraste */
}

th, td {
    text-align: left;
    padding: 0.5em 1em;
    color: #f2f2f2; /* Texte clair pour contraste élevé */
}

th {
    background-color: #1a1a1a; /* Fond des entêtes pour les distinguer */
}

td a {
    color: #e63946; /* Couleur des liens pour correspondre aux éléments interactifs */
    text-decoration: none;
    transition: color 0.3s;
}

td a:hover {
    color: #ffffff; /* Couleur des liens au survol */
}

/* Mise en forme pour le message lorsqu'il n'y a pas de données */
.no-data {
    color: #f2f2f2;
    padding: 2em;
}

/* Ajout de styles pour la mise en page et l'espacement */
h1 {
    color: #f2f2f2;
    text-align: center;
    padding-top: 2em;
}

.add-link {
    display: block;
    width: fit-content;
    margin: 1em auto;
    background-color: #e63946;
    color: #ffffff;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-link:hover {
    background-color: #c72c41;
}

/* Styles communs pour les pages d'ajout */
.add-form-container {
    max-width: 600px; /* Ou la largeur que vous préférez */
    margin: 0 auto; /* Centrer le conteneur */
    padding: 2em;
    background-color: #2c2c2c; /* Couleur de fond pour les formulaires */
    border-radius: 8px; /* Bordures arrondies pour le style */
    color: #f2f2f2; /* Couleur du texte */
}

.add-form-container h1 {
    text-align: center;
    color: #e63946; /* Reprend la couleur d'accentuation de votre thème */
}

.add-form-container a {
    display: block;
    text-align: center;
    margin-bottom: 2em; /* Espacement au-dessus du lien */
    color: #457b9d; /* Reprend la couleur d'accentuation bleue */
    text-decoration: none;
    transition: color 0.3s;
}

.add-form-container a:hover {
    color: #e63946;
}

.add-form-container form {
    display: grid;
    grid-gap: 1em; /* Espacement entre les champs de formulaire */
}

.add-form-container label {
    display: block;
}

.add-form-container input[type="text"],
.add-form-container select,
.add-form-container input[type="email"],
.add-form-container input[type="password"] {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    margin-top: 0.2em; /* Un peu d'espace au-dessus de l'input */
}

.add-form-container input[type="submit"] {
    background-color: #e63946;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-form-container input[type="submit"]:hover {
    background-color: #c72c41;
}

/*  */

.edit-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    background-color: #2c2c2c;
    border-radius: 8px;
    color: #f2f2f2;
}

.edit-form-container h1 {
    text-align: center;
    color: #e63946;
}

.edit-form-container a {
    display: block;
    text-align: center;
    margin-bottom: 2em;
    color: #457b9d;
    text-decoration: none;
    transition: color 0.3s;
}

.edit-form-container a:hover {
    color: #e63946;
}

.edit-form-container form {
    display: grid;
    grid-gap: 1em;
}

.edit-form-container label {
    display: block;
}

.edit-form-container input[type="text"],
.edit-form-container input[type="password"], 
select {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    margin-top: 0.2em;
}

.edit-form-container input[type="submit"] {
    background-color: #e63946;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-form-container input[type="submit"]:hover {
    background-color: #c72c41;
}

/* Styles pour la notification en cas d'erreur ou de message */
.notification {
    color: #e63946;
    text-align: center;
    margin-top: 1em;
}

/* Styles pour les pages de détails */
.details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    background-color: #2c2c2c; /* Couleur de fond pour les détails */
    border-radius: 8px; /* Bordures arrondies pour le style */
    color: #f2f2f2; /* Couleur du texte */
}

.details-container h1 {
    text-align: center;
    color: #e63946; /* Couleur d'accentuation pour le titre */
}

.details-container a {
    display: block;
    text-align: center;
    margin-bottom: 2em;
    color: #457b9d; /* Couleur des liens */
    text-decoration: none;
    transition: color 0.3s;
}

.details-container a:hover {
    color: #e63946;
}

.details-container p {
    margin: 0.5em 0;
    line-height: 1.6; /* Espacement des lignes pour une meilleure lisibilité */
}

.strong {
    font-weight: bold;
}

.notification {
    color: #e63946;
    text-align: center;
    margin-top: 1em;
}

/* Styles pour les pages de suppression */
.delete-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    background-color: #2c2c2c; /* Couleur de fond adaptée */
    border-radius: 8px;
    color: #f2f2f2;
}

.delete-container h1 {
    text-align: center;
    color: #e63946; /* Couleur d'accentuation pour le titre */
}

.delete-container a {
    display: block;
    text-align: center;
    margin-bottom: 2em;
    color: #457b9d;
    text-decoration: none;
    transition: color 0.3s;
}

.delete-container a:hover {
    color: #e63946;
}

.delete-container p {
    margin: 0.5em 0;
    line-height: 1.6;
    text-align: center;
}

.delete-container form {
    text-align: center;
}

.delete-container input[type="submit"] {
    background-color: #c72c41; /* Couleur rouge pour indiquer une action dangereuse */
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-container input[type="submit"]:hover {
    background-color: #a32020;
}

.notification {
    color: #e63946;
    text-align: center;
    margin-top: 1em;
}

.add-form-container .radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em; /* Espacement en bas */
}

.add-form-container .radio-group label {
    margin-right: 10px; /* Espacement à droite du label */
    margin-left: 5px; /* Espacement à gauche du bouton radio */
}

.add-form-container input[type="radio"] {
    margin-top: 0; /* Aligner les boutons radio avec les labels */
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    color: #e63946;
    text-align: center;
}

.form-container input[type="email"], .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.form-container input[type="submit"] {
    background-color: #457b9d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style pour le bouton de déconnexion dans la barre de navigation */
.navbar .logout-button {
    background-color: #e63946; /* Couleur de fond pour le bouton de déconnexion */
    color: white; /* Couleur du texte */
    padding: 10px 15px; /* Padding pour augmenter la taille du bouton */
    border-radius: 5px; /* Bordures arrondies */
    text-decoration: none; /* Supprimer le soulignement du texte */
    transition: background-color 0.3s; /* Transition pour l'effet au survol */
}

.navbar .logout-button:hover {
    background-color: #c72c41; /* Changement de couleur au survol */
}

.error-message {
    font-size: x-large;
    color: #e63946; /* Couleur du texte pour les erreurs */
    margin-bottom: 15px; /* Espacement avant le formulaire */
}
