{# templates/categorie/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
<h1>Liste des Catégories</h1>

<div class="row">
    {% for categorie in categories %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ categorie.getNomCategorie }}</h5>
                <p class="card-text">Code: {{ categorie.getCodeCategorie }}</p>
                <div class="card-actions">
                    <a href="{{ path('categorie_licencies', {'id': categorie.getId}) }}" class="btn btn-primary">Voir Licenciés</a>
                    <a href="{{ path('categorie_contacts', {'id': categorie.getId}) }}" class="btn btn-secondary">Voir Contacts</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
