{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Liste des Catégories</h1>

    <div class="row">
        {% for categorie in categories %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ categorie.getNomCategorie }}</h5>
                        <p class="card-text">Code: {{ categorie.getCodeCategorie }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('categorie_licencies', {'id': categorie.getId}) }}" class="btn btn-primary">Voir Licenciés</a>
                        <a href="{{ path('categorie_contacts', {'id': categorie.getId}) }}" class="btn btn-secondary">Voir Contacts</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-center">Aucune catégorie trouvée.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
